<footer class="p-a-0">
  <section class="bg-link">
    <div class="wrapper row center-xs middle-xs news p-v-xs">
      <p class="m-a-0">订阅获取Rancher最新信息</p>
      <div class="col-md-5">

          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              css: '',
              portalId: '468859',
              formId: '8beed251-ecf0-49fc-93a1-fa9b1446110f'
            });
          </script>
        </div>
      </div>
  </section>
    <div class="container-fluid bg-default p-t-md p-b-sm p-h-sm">
      <div class="row">
          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>产品</h3>
            <ul class="unstyled">
              <li><a href="/what-is-rancher/overview/">Rancher</a></li>
              <li><a href="/rancher-os">RancherOS</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>文档</h3>
            <ul class="unstyled">
              <li><a href="/docs-cn/rancher/v2.x/cn/" target="blank">Rancher 2.0 Docs-cn</a></li>
              <li><a href="/docs-en/rancher/v2.x/en/" target="blank">Rancher 2.0 Docs-en</a></li>
              <li><a href="https://rancher.com/docs/rancher/v1.6/en/" target="blank">Rancher 1.6 Docs</a></li>
              <li><a href="/docs-cn/os/v1.x/cn/" target="blank">RancherOS</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>培训</h3>
            <ul class="unstyled">
              <li><a href="https://info.rancher.com/schedule-a-rancher-demo" target="blank">申请演示</a></li>
              <li><a href="/training">Rancher Kubernetes 培训</a></li>
              <!-- <li><a href="/learn">Learning Resources</a></li> -->
          </ul>
          </div>


          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>关于</h3>
            <ul class="unstyled">
              <li><a href="/about">关于Rancher</a></li>
              <li><a href="/blog">博客</a></li>
<!--               <li><a href="/news">Press</a></li>
-->          <li><a href="/careers">招聘信息</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>支持</h3>
            <ul class="unstyled">
              <li><a href="/contact">联系我们</a></li>
              <li><a href="/support">获取支持</a></li>
              <li><a href="https://forums.rancher.com/" target="blank">论坛</a></li>
              <li><a href="https://github.com/rancher" target="blank">GitHub</a></li>
              <li><a href="http://slack.rancher.io/" target="blank">Slack</a></li>
              <li><a href="/weixin">官方微信群</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>法律与隐私</h3>
            <ul class="unstyled">
              <li><a href="/eula">最终用户许可协议</a></li>
              <li><a href="/support-maintenance-terms">服务协议</a></li>
              <li><a href="/privacy">隐私政策</a></li>
            </ul>
          </div>
      </div>

      <hr/>

      <div class="row between-md middle-md">
        <div class="row social">
          <a class="p-a-xs" href="https://slack.rancher.io/"><img src="{{ .Site.BaseURL }}/img/icon-slack.svg" alt="slack" height="20" width="20"></a>
          <a class="p-a-xs" href="https://github.com/rancher/rancher"><img src="{{ .Site.BaseURL }}/img/icon-github.svg" alt="github" height="20" width="20"></a>
          <a class="p-a-xs" href="https://twitter.com/Rancher_Labs"><img src="{{ .Site.BaseURL }}/img/icon-twitter.svg" alt="twitter" height="20" width="20"></a>
          <a class="p-a-xs" href="https://www.facebook.com/rancherlabs/"><img src="{{ .Site.BaseURL }}/img/icon-facebook.svg" alt="facebook" height="20" width="20"></a>
          <a class="p-a-xs" href="https://www.linkedin.com/groups/6977008/profile"><img src="{{ .Site.BaseURL }}/img/icon-linkedin.svg" height="20" alt="linkedin" width="20"></a>
          </div>

          <div class="text-small text-muted text-center p-a-sm">© 2014-{{ now.Format "2006" }} RANCHER LABS, INC. ALL RIGHTS RESERVED.</div>
      </div>
</div>
  </footer>
</div><!--end of container that starts in header.html-->

{{ partial "tracking.html" . }}
</body>
</html>
